body {
    background-color:whitesmoke;
}
legend{
    color:dodgerblue;
}
.navbar-toggler {
    background-color: dodgerblue;
}
#employeeTable {
    border-collapse: collapse;
}
#employeeTable th,
#employeeTable td{
    border:1px solid black;
    padding:8px;
}



